.mr-4 {
  margin-right: 1rem
}

.-mt-\[50px\] {
  margin-top: -50px
}

.mt-4 {
  margin-top: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.inline {
  display: inline
}

.h-full {
  height: 100%
}

.h-\[90px\] {
  height: 90px
}

.h-\[100px\] {
  height: 100px
}

.w-\[50\%\] {
  width: 50%
}

.w-\[70\%\] {
  width: 70%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[25px\] {
  font-size: 25px
}

.text-\[35px\] {
  font-size: 35px
}

.font-bold {
  font-weight: 700
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-green-800 {
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity))
}
