.mt-1 {
  margin-top: 0.25rem
}

.mt-4 {
  margin-top: 1rem
}

.-mt-\[50px\] {
  margin-top: -50px
}

.inline {
  display: inline
}

.h-full {
  height: 100%
}

.h-\[90px\] {
  height: 90px
}

.h-\[100px\] {
  height: 100px
}

.w-\[50\%\] {
  width: 50%
}

.w-\[70\%\] {
  width: 70%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-\[15px\] {
  font-size: 15px
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
